<form>
  <div class="form-group">
    <label>TITLE</label>
    {{input value=newModel.title class='form-control'}}
    <small></small>
  </div>
  <div class="form-group">
    <label>DESCRIPTION</label>
    {{textarea value=newModel.description class='form-control'}}
  </div>
  <button type="submit" class="btn btn-primary" {{action 'save'}}>SAVE</button>
</form>