<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>TITLE</th>
      </tr>
      </thead>
      <tbody>
      {{#each model as |project|}}
        <tr>
          <td>{{project.id}}</td>
          <td>{{link-to project.title 'projects.project.show' project.id}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{link-to 'New' 'projects.new' class='btn btn-success'}}
  </div>
  <div class="col">
    {{outlet}}
  </div>
</div>
